
<!DOCTYPE html>
<html>

<head>

  <title>Tattoer world</title>
  <script src="main.js"></script>

    <style>
      body{
        background-color: beige;
      }

      #t{
        text-align: center;
      }
      #c{
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

      .not{
          color: grey;
          margin: 20px;
          text-align: center;

      }
    </style>

</head>

<body>

  <h1 id="t"> Tatto </h1>
  <h2 class="not"> _______________________________</h2>
  <p> Tattooing is a form of physical modification and is made by placing a fixed mark on the body by stitching the skin with a needle and then placing the dye through these openings and wounds to remain inside the skin and not go away. Tattooing on the human body is considered a kind of physical modification and decoration, while on an animal it is more common and is for identification purposes or the owner of that animal.</p>
  
  <img src="tatto.jpg" alt="Tatto" id="c">
  <a href="https://en.wikipedia.org/wiki/Tattoo" class="not">want to  know more? click here</a>

  <button type="button" onclick="changeBackgroundColor()">Set background color</button>

</body>

</html>
