<!DOCTYPE html>
<html lang="en" dir="ltr">
  
<head>
  <style>
    section {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.paragraph {
  color: #555;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
}

.title {
  font-size: 24px;
  color: #222;
  line-height: 24px;
}
</style>
</head>
  
<body>
  <section class="section">
  <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/933c6ad6-798d-4fb9-bc08-d0f8a3175090/blazer-mid-77-big-kids-shoes-4VfSTd.png " style="width:20%" class="image" />
  <div class="content">

    <h2 class="title">
      Supercool Blazers
    </h2>
    <p class="paragraph"> In the '70s, Nike was the new shoe on the block. So new in fact, we were still breaking into the basketball scene and testing prototypes on the feet of our local team. Of course, the design improved over the years, but the name stuck. The Nike Blazer Mid '77 Vintage—classic from the beginning</p>
    <h4>PRICE: $100.00</h4>
      <p><button type="button" onclick="window.location.href='{{ url_for( 'index') }}';">Go Back To Home Page</button></div></p>
      <p><button type="button" onclick="window.location.href='{{ url_for( 'cart') }}';">Add To Cart</button></div></p>

 </Link>

  </div>
</section>
</body>
</html>